img {
  padding: 5px;
  margin: 5px;
  width: 15%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  text-align: center;
}

#main {
  width: 800px;
  margin: 0 auto;
}

.unfolded {
  float: left;
  width: 45%;
  padding: 5px;
  margin: 5px;
}

.leftLi {
  list-style:none;
  width: 350px;
  height: 50px;
  padding: 5px;
  margin: 5px;
}

.item {
  float: left;
  width: 150px;
  height: 30px;
  background: #ffffff;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #eee;
  text-align: center;
  margin: 5px;
}

.change-devoured {
  float: left;
  width: 100px;
  height: 30px;
  padding: 10px;
  margin: 10px;
}

.folded {
  float: left;
  width: 45%;
  padding: 5px;
  margin: 5px;
}

.rightLi {
  list-style:none;
  padding: 5px;
  margin: 5px;
  background: #eee;
}

.newOne {
  text-align: center;
  width: 300px;
  height: 100px;
}

.newButton {
  width: 70px;
  height: 25px;
  margin: 0 auto;
}

.forms {
  clear: both;
}

.create-form {
  text-align: center;
}

